<h1>Software Dashboard</h1>

<table class="table table-bordered">
   <thead>
      <tr>
         <th>soft_ref</th>
         <th>soft_manif</th>
         <th>soft_suppl</th>
         <th>soft_familly</th>
         <th>soft_version</th>
         <th>soft_Desc</th>
         <th>ImageUrl</th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let software of softwares">
         <th>{{software?.soft_ref}}</th>
         <th>{{software?.soft_manif}}</th>
         <th>{{software?.soft_suppl}}</th>
         <th>{{software?.soft_familly}}</th>
         <th>{{software?.soft_version}}</th>
         <th>{{software?.soft_Desc}}</th>
         <th>{{software?.imageUrl}}</th> 
      </tr>
   </tbody>
</table>